In [1]:
import pandas as pd

def one_hot_encode(df, cols):
    result = df.copy()
    for col in cols:
        result[col] = result[col].fillna('missing').astype(str).str.lower()
        for val in result[col].unique():
            result[f"{col}_{val}"] = (result[col] == val).astype(int)
        
        result = result.drop(col, axis=1)
    return result
d = {
    'sales': [100000, 222000, 1000000, 522000, 111111, 222222, 1111111, 
              20000, 75000, 90000, 1000000, 10000],
    'city': ['Tampa', 'Tampa', 'Orlando', 'Jacksonville', 'Miami', 
             'Jacksonville', 'Miami', 'Miami', 'Orlando', 'Orlando', 
             'Orlando', 'Orlando'],
    'size': ['Small', 'Medium', 'Large', 'Large', 'Small', 'Medium', 
             'Large', 'Small', 'Medium', 'Medium', 'Medium', 'Small']
}
df = pd.DataFrame(d)
encoded_df = one_hot_encode(df, ['city', 'size'])
print(encoded_df)

      sales  city_tampa  city_orlando  city_jacksonville  city_miami  \
0    100000           1             0                  0           0
1    222000           1             0                  0           0
2   1000000           0             1                  0           0
3    522000           0             0                  1           0
4    111111           0             0                  0           1
5    222222           0             0                  1           0
6   1111111           0             0                  0           1
7     20000           0             0                  0           1
8     75000           0             1                  0           0
9     90000           0             1                  0           0
10  1000000           0             1                  0           0
11    10000           0             1                  0           0

    size_small  size_medium  size_large
0            1            0           0
1            0            1           0
2            0            0           1
3            0            0           1
4            1            0           0
5            0            1           0
6            0            0           1
7            1            0           0
8            0            1           0
9            0            1           0
10           0            1           0
11           1            0           0